In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly_express as px

c:\Users\kyeongtae\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\kyeongtae\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\kyeongtae\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [78]:
# 기상 데이터, 확진자 데이터 로드

import os
import glob

weather_path = 'D:\\Dropbox\\GitHub\\coding\\자료분석 및 실험\\data\\weather\\'
data_path = 'D:\\Dropbox\\GitHub\\coding\\자료분석 및 실험\\data\\'

weather_file_list = glob.glob(weather_path + '*peak*.csv')


for i in range(len(weather_file_list)):
    weather_file_list[i] = pd.read_csv(weather_file_list[i], encoding='cp949')
    
infected = pd.read_excel('D:\\Dropbox\\KNU_Lab_Research\\2023_Rt_research\\data&samplecode/지역+연령별 확진자(일별, 국내).xlsx')

In [79]:
w_2018, w_2019, w_2020, w_2021 = weather_file_list

In [80]:
w = pd.concat([w_2018, w_2019, w_2020], axis = 0);w

           date       temp      rain      humid  snow
0    2018-01-01  -0.292308  0.000000  34.461538   0.0
1    2018-01-02  -0.638462  0.000000  40.846154   0.0
2    2018-01-03  -3.930769  0.000000  37.615385   0.0
3    2018-01-04  -4.307692  0.000000  40.076923   0.0
4    2018-01-05  -1.715385  0.000000  45.230769   0.0
..          ...        ...       ...        ...   ...
362  2020-12-28   7.846154  0.000000  70.538462   0.0
363  2020-12-29   1.807692  0.015385  76.615385   0.0
364  2020-12-30 -10.538462  0.000000  52.461538   0.0
365  2020-12-31 -10.538462  0.000000  52.461538   0.0
366         NaN        NaN       NaN        NaN   NaN

[1097 rows x 5 columns]

In [81]:
# 이중차분법(DID)
import statsmodels.formula.api as sm

np.random.seed(777)

# data concatenate
bike = pd.read_csv(data_path + 'traindata.csv')
df = bike.merge(w, left_on = 'date', right_on = 'date', how = 'left')

In [82]:
df.date = pd.to_datetime(df['date'])
df.set_index('date', inplace = True)

In [83]:
infected = infected[['Unnamed: 0', '전체']]
infected.columns = ['date', 'infected']
infected.date = pd.to_datetime(infected['date'])

In [84]:
df_with_infected = df.loc['2020-01-20':, :]
df_with_infected = df_with_infected.merge(infected, left_on = 'date', right_on = 'date', how = 'left')
## df_with_infected.to_csv(data_path + 'df_with_infected.csv')

In [91]:
df['mean'] = (df['광진구'] + df['동대문구'] + df['성동구'] + df['중랑구'])/4
df.reset_index(inplace = True)

In [95]:
sm.ols('mean ~ temp + rain + humid + snow ', data = df).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   mean   R-squared:                       0.449
Model:                            OLS   Adj. R-squared:                  0.447
Method:                 Least Squares   F-statistic:                     222.1
Date:                Wed, 29 Mar 2023   Prob (F-statistic):          1.78e-139
Time:                        17:14:56   Log-Likelihood:                -2188.0
No. Observations:                1096   AIC:                             4386.
Df Residuals:                    1091   BIC:                             4411.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.8594      0.201     14.242      0.000       2.465       3.253
temp           0.1493      0.006     26.526      0.000       0.138       0.160
rain          -1.0150      0.103     -9.826      0.000      -1.218      -0.812
humid         -0.0146      0.004     -3.674      0.000      -0.022      -0.007
snow          -0.1680      0.216     -0.776      0.438      -0.592       0.256
==============================================================================
Omnibus:                       17.014   Durbin-Watson:                   0.378
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               10.147
Skew:                           0.012   Prob(JB):                      0.00626
Kurtosis:                       2.529   Cond. No.                         239.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [93]:
df

,date,광진구,동대문구,성동구,중랑구,temp,rain,humid,snow,mean
0,2018-01-01,0.592,0.368,0.580,0.162,-0.292308,0.000000,34.461538,0.0,0.4255
1,2018-01-02,0.840,0.614,1.034,0.260,-0.638462,0.000000,40.846154,0.0,0.6870
2,2018-01-03,0.828,0.576,0.952,0.288,-3.930769,0.000000,37.615385,0.0,0.6610
3,2018-01-04,0.792,0.542,0.914,0.292,-4.307692,0.000000,40.076923,0.0,0.6350
4,2018-01-05,0.818,0.602,0.994,0.308,-1.715385,0.000000,45.230769,0.0,0.6805
...,...,...,...,...,...,...,...,...,...,...
1091,2020-12-27,3.528,2.604,3.258,2.038,6.484615,0.000000,61.384615,0.0,2.8570
1092,2020-12-28,4.542,3.588,4.506,2.480,7.846154,0.000000,70.538462,0.0,3.7790
1093,2020-12-29,3.694,3.054,3.222,2.118,1.807692,0.015385,76.615385,0.0,3.0220
1094,2020-12-30,2.366,1.812,2.012,1.174,-10.538462,0.000000,52.461538,0.0,1.8410
1095,2020-12-31,2.366,2.018,1.988,1.358,-10.538462,0.000000,52.461538,0.0,1.9325