In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df_1 = pd.read_excel('전라남도_IC&항구.xlsx')
df_2 = pd.read_excel('전남_RPC최단거리.xlsx')

In [5]:
df_1 = df_1.loc[:, ['_X', '_Y', 'IC', 'HAR', 'field8']]

In [7]:
RPC = df_2.loc[:, 'dist']

In [10]:
integrated = pd.concat([df_1, RPC], axis=1)

In [12]:
integrated.rename(columns = {'_X' : 'lon', '_Y' : 'lat', 'field8' : 'Y', 'dist' : 'RPC'}, inplace=True)

In [15]:
integrated.loc[:,'RPC'] = integrated.loc[:, 'RPC'].apply(lambda x : x/1000)

In [16]:
integrated

           lon        lat         IC         HAR      Y        RPC
0   127.367377  34.610808  27.589086   45.613257  15600  18.138450
1   127.335394  34.772165  10.888142   50.941425  12000  16.197460
2   126.757878  34.631781  15.135554   47.667943  24000  11.187660
3   126.672066  34.969568  14.267062   74.060147  14160   5.130510
4   126.853050  35.035210  20.974202   73.268904   7200  10.098700
5   127.041896  35.356128  12.372316  101.233742  12600  10.021080
6   126.771405  34.955515  20.578643   68.943655  24000   9.205529
7   126.947258  35.309825   7.122440   97.557924  12000  10.021080
8   126.624336  34.993969  10.331162   78.151021   7200   5.130510
9   127.554634  34.915587   4.751284   67.424867  12000   9.405268
10  127.472350  34.864689   7.194329   60.870480  12000   9.405268
11  127.254657  35.244704  10.048276   90.148032  14400  18.426570
12  126.490956  35.282516  10.323887  108.550270  24000  25.334640
13  126.560958  34.928826  11.883358   76.333177  12000   9.259229
14  126.571929  34.787997   7.667587   66.319543  10800   7.997666
15  127.095955  34.788032  13.839995   48.449815  12000  19.032560
16  127.456382  35.230779  11.736393   92.176566   6000  18.426570
17  126.234184  35.060905  18.895873  105.017500  16800   9.014673
18  126.731788  35.076321  11.611297   80.686364   9000  11.965550
19  126.538143  35.039390   4.315908   85.899625  19200   9.342300
20  126.317477  34.503728  35.599906   73.707678   7200  15.532960
21  126.318466  35.103361  13.859871  102.831592  24000   9.014673
22  126.278070  34.862324  16.596320   89.752994   7200  16.873220
23  126.609857  34.533782  23.023287   53.032344  12000   3.499300
24  126.649193  34.586001  17.982002   52.045637  48000   5.963906
25  126.957140  34.660366  17.277509   40.978151  16800  18.541490
26  126.591409  34.561388  20.202906   54.861295  12000   3.499300
27  126.445493  34.934163   9.025992   83.231447   9000   1.431239
28  126.434380  34.943256   8.192641   84.515534  12000   1.431239
29  126.562617  34.716315   7.144772   62.881923  12000   7.997666
30  126.461156  34.577692  22.341746   64.146354   9600   8.071946
31  126.645200  34.361526  41.745233   50.780986   6000  19.382560
32  126.838392  35.267197   4.682715   95.356775  15600  10.974580
33  126.506280  34.515237  26.482861   59.395641   7200   8.071946
34  126.951879  34.994281  25.866748   67.376939   9000  10.098700

In [22]:
weather = pd.read_csv('weather.csv', encoding = 'cp949')

In [25]:
weather = pd.read_csv('전라남도_기상데이터.csv', encoding = 'cp949')

In [29]:
weather = weather.groupby('지점명')['평균상대습도(%)'].mean()

지점명
강진군    73.00
고흥     73.50
광양시    67.75
목포     73.00
보성군    74.75
순천     74.75
여수     71.75
영광군    71.50
완도     74.00
장흥     75.00
진도군    76.50
해남     74.50
흑산도    83.75
Name: 평균상대습도(%), dtype: float64

In [34]:
region = df_1[['field4']]

In [37]:
weather = pd.DataFrame(weather)
weather.rename(columns = {'평균상대습도(%)' : 'humid'}, inplace=True)

In [41]:
weather = weather.reset_index()
weather.rename(columns = {'지점명' : 'region'}, inplace=True)

In [45]:
region.rename(columns = {'field4' : 'region'}, inplace=True)

C:\Users\kgt08\AppData\Local\Temp\ipykernel_31540\3504568063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region.rename(columns = {'field4' : 'region'}, inplace=True)

In [56]:
sm = pd.merge(region, weather, on='region', how = 'outer')

In [54]:
weather.iloc[1,0] = '고흥군'
weather.iloc[5, 0] = '순천시'
weather.iloc[8, 0] = '완도군'
weather.iloc[9, 0] = '장흥군'
weather.iloc[11, 0] = '해남군'

In [66]:
sm.iloc[23:26, 1] = 73

In [68]:
integrated

           lon        lat         IC         HAR      Y        RPC
0   127.367377  34.610808  27.589086   45.613257  15600  18.138450
1   127.335394  34.772165  10.888142   50.941425  12000  16.197460
2   126.757878  34.631781  15.135554   47.667943  24000  11.187660
3   126.672066  34.969568  14.267062   74.060147  14160   5.130510
4   126.853050  35.035210  20.974202   73.268904   7200  10.098700
5   127.041896  35.356128  12.372316  101.233742  12600  10.021080
6   126.771405  34.955515  20.578643   68.943655  24000   9.205529
7   126.947258  35.309825   7.122440   97.557924  12000  10.021080
8   126.624336  34.993969  10.331162   78.151021   7200   5.130510
9   127.554634  34.915587   4.751284   67.424867  12000   9.405268
10  127.472350  34.864689   7.194329   60.870480  12000   9.405268
11  127.254657  35.244704  10.048276   90.148032  14400  18.426570
12  126.490956  35.282516  10.323887  108.550270  24000  25.334640
13  126.560958  34.928826  11.883358   76.333177  12000   9.259229
14  126.571929  34.787997   7.667587   66.319543  10800   7.997666
15  127.095955  34.788032  13.839995   48.449815  12000  19.032560
16  127.456382  35.230779  11.736393   92.176566   6000  18.426570
17  126.234184  35.060905  18.895873  105.017500  16800   9.014673
18  126.731788  35.076321  11.611297   80.686364   9000  11.965550
19  126.538143  35.039390   4.315908   85.899625  19200   9.342300
20  126.317477  34.503728  35.599906   73.707678   7200  15.532960
21  126.318466  35.103361  13.859871  102.831592  24000   9.014673
22  126.278070  34.862324  16.596320   89.752994   7200  16.873220
23  126.609857  34.533782  23.023287   53.032344  12000   3.499300
24  126.649193  34.586001  17.982002   52.045637  48000   5.963906
25  126.957140  34.660366  17.277509   40.978151  16800  18.541490
26  126.591409  34.561388  20.202906   54.861295  12000   3.499300
27  126.445493  34.934163   9.025992   83.231447   9000   1.431239
28  126.434380  34.943256   8.192641   84.515534  12000   1.431239
29  126.562617  34.716315   7.144772   62.881923  12000   7.997666
30  126.461156  34.577692  22.341746   64.146354   9600   8.071946
31  126.645200  34.361526  41.745233   50.780986   6000  19.382560
32  126.838392  35.267197   4.682715   95.356775  15600  10.974580
33  126.506280  34.515237  26.482861   59.395641   7200   8.071946
34  126.951879  34.994281  25.866748   67.376939   9000  10.098700

In [3]:
df = pd.read_csv('integrated.csv')

In [6]:
scale = pd.read_csv('../01_data/반경1km내 논 면적 추합.csv', encoding = 'cp949')

In [9]:
scale = scale[['S(m^2)[반경1km^2]']]

In [10]:
scale.rename(columns = {'S(m^2)[반경1km^2]' : 'square'}, inplace=True)

C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_12636\2283450597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scale.rename(columns = {'S(m^2)[반경1km^2]' : 'square'}, inplace=True)

In [12]:
df = pd.concat([df, scale], axis = 1)

In [14]:
df.iloc[:, -1] = np.log10(df.iloc[:, -1])

In [17]:
df = df.dropna()

In [20]:
df.to_csv('integrated.csv', encoding = 'utf-8', index=False)

In [3]:
df = pd.read_excel('행정구역별_위경도_좌표.xlsx', sheet_name = '전라남도')

In [4]:
df

        시도  시군구 읍면동/구 읍/면/리/동   리         위도          경도
0     전라남도  NaN   NaN     NaN NaN  34.900727  126.957167
1     전라남도  신안군   NaN     NaN NaN  34.833626  126.351124
2     전라남도  신안군   암태면     NaN NaN  34.827208  126.112188
3     전라남도  신안군   암태면     당사리 NaN  34.892700  126.184400
4     전라남도  신안군   암태면     신석리 NaN  34.862800  126.135100
...    ...  ...   ...     ...  ..        ...         ...
3013  전라남도  목포시   연산동     NaN NaN  34.813004  126.377144
3014  전라남도  목포시   산정동     NaN NaN  34.809166  126.386575
3015  전라남도  목포시    연동     NaN NaN  34.794592  126.391560
3016  전라남도  목포시  용당2동     NaN NaN  34.799569  126.399776
3017  전라남도  목포시  용당1동     NaN NaN  34.806000  126.391687

[3018 rows x 7 columns]

In [5]:
df = df.groupby('읍면동/구').first()

In [6]:
df

            시도  시군구 읍/면/리/동   리         위도          경도
읍면동/구
가곡동       전라남도  순천시    None NaN  34.984800  127.479100
가사문학면     전라남도  담양군     풍암리 NaN  35.177470  127.027900
간전면       전라남도  구례군     효곡리 NaN  35.178218  127.543769
강진읍       전라남도  강진군     서산리 NaN  34.635799  126.773556
겸면        전라남도  곡성군     남양리 NaN  35.255608  127.172500
...        ...  ...     ...  ..        ...         ...
회진면       전라남도  장흥군      대리 NaN  34.481523  126.939556
회천면       전라남도  보성군     객산리 NaN  34.668785  127.085400
흑산면       전라남도  신안군    다물도리 NaN  34.682979  125.427371
흑산면가거도출장  전라남도  신안군    None NaN        NaN         NaN
흑산면대둔도출장  전라남도  신안군    None NaN        NaN         NaN

[440 rows x 6 columns]

In [7]:
df = df.reset_index()
df = df.loc[:, ['읍면동/구', '위도', '경도']]

In [9]:
df.dropna(inplace = True)

In [10]:
df

     읍면동/구         위도          경도
0      가곡동  34.984800  127.479100
1    가사문학면  35.177470  127.027900
2      간전면  35.178218  127.543769
3      강진읍  34.635799  126.773556
4       겸면  35.255608  127.172500
..     ...        ...         ...
433    황산면  34.576975  126.436358
434    황전면  35.101415  127.426882
435    회진면  34.481523  126.939556
436    회천면  34.668785  127.085400
437    흑산면  34.682979  125.427371

[437 rows x 3 columns]

In [11]:
df.to_csv('testdat.csv', index = False)

In [15]:
pred_mat = pd.read_csv('pred_test.csv', index_col = 0)
pred_mat

    시군구         위도          경도    pred.y
1   강진군  34.642090  126.767200  0.299805
2   고흥군  34.604705  127.275507  0.454346
3   곡성군  35.282017  127.291978  0.455168
4   광양시  34.940658  127.695899  0.539442
5   구례군  35.202510  127.462937  0.551977
6   나주시  35.015814  126.710814  0.355330
7   담양군  35.321175  126.988175  0.404891
8   목포시  34.811875  126.392337  0.420793
9   무안군  34.990489  126.481712  0.340935
10  보성군  34.771458  127.080088  0.262794
11  순천시  34.950698  127.487243  0.519929
12  신안군  34.833626  126.351124  0.425704
13  여수시  34.760425  127.662313  0.537816
14  영광군  35.277213  126.512014  0.212279
15  영암군  34.800164  126.696796  0.320860
16  완도군  34.311039  126.754852  0.497962
17  장성군  35.301943  126.784814  0.251116
18  장흥군  34.681622  126.907051  0.249553
19  진도군  34.486818  126.263475  0.583946
20  함평군  35.065929  126.516582  0.242646
21  해남군  34.573558  126.599225  0.437141
22  화순군  35.064524  126.986477  0.381689

In [18]:
pred_mat = pred_mat.sort_values(by = 'pred.y', ascending = False)

In [19]:
pred_mat

    시군구         위도          경도    pred.y
19  진도군  34.486818  126.263475  0.583946
5   구례군  35.202510  127.462937  0.551977
4   광양시  34.940658  127.695899  0.539442
13  여수시  34.760425  127.662313  0.537816
11  순천시  34.950698  127.487243  0.519929
16  완도군  34.311039  126.754852  0.497962
3   곡성군  35.282017  127.291978  0.455168
2   고흥군  34.604705  127.275507  0.454346
21  해남군  34.573558  126.599225  0.437141
12  신안군  34.833626  126.351124  0.425704
8   목포시  34.811875  126.392337  0.420793
7   담양군  35.321175  126.988175  0.404891
22  화순군  35.064524  126.986477  0.381689
6   나주시  35.015814  126.710814  0.355330
9   무안군  34.990489  126.481712  0.340935
15  영암군  34.800164  126.696796  0.320860
1   강진군  34.642090  126.767200  0.299805
10  보성군  34.771458  127.080088  0.262794
17  장성군  35.301943  126.784814  0.251116
18  장흥군  34.681622  126.907051  0.249553
20  함평군  35.065929  126.516582  0.242646
14  영광군  35.277213  126.512014  0.212279